.main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.form{
    margin-left: 150px;
    
}
 label{
    width: 50px;
}
input{
    width: 400px;
    margin: 5px;
}
.vertical{
    border-left: 4px solid red;
    height: auto;
}
.table{
    width: 300px;
}
.EmployeeTable{
    margin-right:200px;
}